html,body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

h2{
	font-family: "Roboto",sans-serif;
	font-size:200%;
	font-weight: 700;
	color:#2C2C2C;
	text-align: center;
	text-decoration: underline;
}

p{
	font-family: "Roboto",sans-serif;
	color:#2C2C2C;
	font-size:140%;
	line-height: 180%;
	text-align: justify;
	font-weight: 300;
}

 img{
 	text-align:center;
 	max-width: 100%;
 	width:auto;
 	height:auto;
 }

 .intro{
 	height:100%;
 	width:100%;
 	margin:auto;
 	background: url(../images/pexels-photo-248159.jpeg) no-repeat 50% 50%;
 	background-size: cover;
 	display:table;
 	top:0;
 }

 .intro .inner{
 	display:table-cell;
 	vertical-align:middle;
 	width:100%;
 	max-width: none;
}

.content{
	max-width: 600px;
	margin:auto;
}

h1{
	font-family:"Roboto",sans-serif;
	font-size: 300%;
	font-weight:700;
	color:#FFF;
	text-align:center;
	padding:2%;
	text-shadow: 0px 0px 250px #000;
}

.content p{
	color:#FFF;
}

.inner{
	max-width: 600px;
	margin:auto;
	font-size: 170%;
	line-height: 1.6;
	padding:10px;
}

/*-- Start Navigation */
nav{
	float:left;
	padding:5% 5% 0 0;
	height:50px;
}

nav ul{
	list-style:none;
	float:left;
}

nav ul li{
	font-family: "Roboto",sans-serif;
	font-size:120%;
}

nav ul li a{
	color:#FFF;
	text-decoration:none;
}
nav ul li a:hover{
	text-decoration:underline;
}

nav ul, nav:active ul{
	display:none;
	padding:8px 0;
	width:20%;
	z-index:1000;
}

nav li{
	width:100;
	padding: 8px 0 10px 7px;
	margin:0;
}

nav:hover ul{
	display:block;
	position:absolute;
}

#menu-icon{
	width:30px;
	height:26px;
	background:url(../images/nav-icon.png) center;
	display:inline-block;
	margin:50px 0 0 50px;
}

/* End Of Navigation */

.left-col{
	width:60%;
	float:left;
	margin:4% 0 4% 4%;
}

.sidebar{
	width:26%;
	float:left;
	margin:4%;
}

.one-third-port{
	width:29.333333%;
	padding:2%;
	float:left;
}

.one-third-port img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.contact p{
padding-top: 5px;
text-align: center;
letter-spacing: 5px;
}

.contact a{
	color:#2C2C2C;
}

.break{
	display:none;
}

.clearfix{
	clear:both;
	height:3%;
}

.social{
	list-style-type: :none;
	text-align:center;
}

.social li{
	display:inline;
}

.social i{
	font-size: 270%;
	
}



